.darkblue {
    background-color: darkblue;
}

.firebrick {
    background-color: firebrick;
}

.lightseagreen {
    background-color: lightseagreen;
}

.coral {
    background-color: lightcoral;
}

.blue {
    background-color: lightblue;
}

.yellow {
    background-color: yellow;
}

.purple{
    background-color: purple;
}

.green {
    background-color: teal;
}

.orange {
    background-color: orange;
}

.red {
    background-color: red;
}

.pink {
    background-color: pink;
}

.dark {
    background-color: brown;
}